<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Анкета</title>
</head>
<body>
    <h1>Пожалуйста, заполните анкету</h1>
    <form method="post">
        <label>Имя:
            <input type="text" name="name" required>
        </label><br><br>

        <label>Возраст:
            <input type="number" name="age" required>
        </label><br><br>

        <label>Любимый цвет:
            <input type="text" name="favorite_color">
        </label><br><br>

        <input type="submit" value="Отправить">
    </form>
</body>
</html>